@font-face {
    font-family: 'Open Sans';
    
    src: url('../fonts/OpenSans-Regular-webfont.eot');
    src: url('../fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Regular-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Regular-webfont.svg#OpenSansRegular') format('svg');
    font-weight: normal;
    font-weight: 400;
    font-style: normal;

}
.ModalBackground{ width: 100%; margin: 0; padding: 0; border: 0; font-family:'Open Sans', sans-serif; font-weight:normal; font-size:18px; color:#fff;
background: #d07301; /* Old browsers */
background: -moz-linear-gradient(top,  #d07301 0%, #490401 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d07301), color-stop(100%,#490401)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #d07301 0%,#490401 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #d07301 0%,#490401 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #d07301 0%,#490401 100%); /* IE10+ */
background: linear-gradient(to bottom,  #d07301 0%,#490401 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d07301', endColorstr='#490401',GradientType=0 ); /* IE6-9 */
}

.alert-box{background: none repeat scroll 0px 0px rgba(255, 255, 255, 1); left: 15%; position: absolute; top: 30%; border-radius: 8px; text-align: center; padding: 7px; width:65%; color:rgba(73, 4, 1, 1);z-index:99999;}
.alert-box h4{margin:0 0 10px 0; padding:0 0 10px 0; border-bottom:1px solid #999;}
.alert-box .message-area{font-size:16px; margin:0;}
.alert-box .alert-btn-area{margin:20px 0 0;}
.alert-btn{border:none; border-radius:4px; -moz-border-radius:4px; -ms-border-radius:4px; -o-border-radius:4px; -webkit-border-radius:4px; padding:6px 20px; color:#fff; text-align:center; text-decoration:none; text-transform:uppercase;  margin:0 15px 7px; font-size:18px; cursor:pointer; background:rgba(73, 4, 1, 1);}

.overflow-div {
    overflow-y:scroll;height:1136px;
}

.input-alert{box-shadow:0 0 7px 1px #FF0000 inset;}

 html{height:100%; width: 100%; margin: 0; padding: 0; border: 0; background:#fff; font-family:'Open Sans', sans-serif; font-weight:normal; font-size:18px; color:#fff;}
 .clr{clear:both;}
 .fr{float:right;}
 .fl{float:left;}
 
 a{text-decoration:none;}
 
 body{width: 100%; display:table; margin: 0; padding: 0; border: 0; font-family:'Open Sans', sans-serif; font-weight:normal; font-size:18px; color:#fff;
background: #d07301; /* Old browsers */
background: -moz-linear-gradient(top,  #d07301 0%, #490401 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d07301), color-stop(100%,#490401)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #d07301 0%,#490401 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #d07301 0%,#490401 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #d07301 0%,#490401 100%); /* IE10+ */
background: linear-gradient(to bottom,  #d07301 0%,#490401 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d07301', endColorstr='#490401',GradientType=0 ); /* IE6-9 */
}
 

.splash-bg{width:640px; background:url(../img/splash-bg.png) no-repeat; background-size:cover; display:table;}

   .logo {width:330px; height:331px; padding:12% 0 0; margin:auto;}
   .logo img{width:100%;}
   .logo-login{padding:13% 0 !important; margin:auto; width:auto; height:auto;}
   .logo-login img{width:26%;}
   .signin-form{width:65%; margin:0 auto; padding:20px 50px;}
   
   .username-txt{width:100%; height:50px; background:url(../img/txtfield-icons.png) no-repeat 8px 8px rgba(255, 255, 255, 0.2); margin:30px 0 0;}
   .user-input{background:none !important;border:none !important;color: #fff !important;float: left !important;font-size: 20px !important;height:45px !important;margin: 2px 0 0 45px !important;width: 89% !important; font-family:'Open Sans', sans-serif !important; font-weight:normal !important;}
   
   .pswd-txt{width:100%; height:50px; background:url(../img/txtfield-icons.png) no-repeat 8px -88px rgba(255, 255, 255, 0.2); margin:30px 0 0;}
   .user-password{background:none !important;border:none !important;color: #fff !important;float: left !important;font-size: 20px !important;height:45px !important;margin: 2px 0 0 45px !important;width: 89% !important; font-family:'Open Sans', sans-serif !important; font-weight:normal !important;}
   
   input[placeholder], [placeholder], *[placeholder] {
    color:#fff !important;
}
.borderClass {
 /*border: 2px solid white;*/
 box-shadow: 10px 10px 11px #000000;

}
.login-btn{
border-radius:7px; -moz-border-radius:7px; -ms-border-radius:7px; -o-border-radius:7px; -webkit-border-radius:7px;
padding:12px 35px; color:#fff; text-align:center; text-transform:uppercase;  margin:30px 0 0 0; font-size:27px; cursor:pointer; background:rgba(73, 4, 1, 0.4);}

 .or{margin:25px 0; font-size:27px; text-shadow:1px 1px 2px rgba(0, 0, 0, 0.5);}
 .facebook{font-size: 24px; line-height: 43px;   margin: 0 auto;  width: 45%;}
 .need-acnt{padding:12px 0; color:#490401; text-align:center; text-decoration:none; text-transform:uppercase;  margin:30px 0 0; font-size:24px; cursor:pointer; background:rgba(255, 255, 255, 0.5);}
 
 .signup-form{width:65%; margin:0 auto; padding:20px 50px 50px;}
 .signup-first-txt{width:100% ; height:50px; background:url(../img/txtfield-icons.png) no-repeat 8px 8px rgba(255, 255, 255, 0.2); margin:30px 0 0;}
 .signup-first-input{background:none !important;border:none  !important;color: #fff !important;float: left;font-size: 20px  !important;height:45px !important;margin: 3px 0 0 42px !important;width: 90%  !important; font-family:'Open Sans', sans-serif !important; font-weight:normal  !important;}
 
 .fb-name{border:none  !important;color: #fff !important;float: left;font-size: 20px  !important;margin: 3px 0 0 42px !important;width: 90%  !important; font-family:'Open Sans', sans-serif !important; font-weight:normal  !important; text-align:left; padding:10px 0;}
  
 .signup-last-txt{width:100% ; height:50px; background:url(../img/txtfield-icons.png) no-repeat 8px 8px rgba(255, 255, 255, 0.2); margin:30px 0 0;}
 
 .signup-email-txt{width:100% ; height:50px; background:url(../img/txtfield-icons.png) no-repeat 8px -40px rgba(255, 255, 255, 0.2); margin:30px 0 0;}
 
 .signup-pswd-txt{width:100%; height:50px; background:url(../img/txtfield-icons.png) no-repeat 8px -88px rgba(255, 255, 255, 0.2); margin:30px 0 0;}
   
 .signup-txt{width:100%; height:50px; background:rgba(255, 255, 255, 0.2); margin:30px 0 0;}
 .signup-txt-input{background:none !important;border:none !important;color: #fff !important;float: left !important;font-size: 20px !important;height:45px !important;margin: 2px 0 0 20px !important;width:97% !important; font-family:'Open Sans', sans-serif !important; font-weight:normal !important;}
 
 .signup-btn{border-radius:7px; -moz-border-radius:7px; -ms-border-radius:7px; -o-border-radius:7px; -webkit-border-radius:7px; padding:12px 100px; color:#490401; text-align:center; text-decoration:none; text-transform:uppercase;  margin:30px 0 0; font-size:27px; cursor:pointer; background:rgba(255, 255, 255, 0.5);}
 .connect-btn{border-radius:5px; -moz-border-radius:5px; -ms-border-radius:5px; -o-border-radius:7px; -webkit-border-radius:5px; padding:12px 50px; color:#490401; text-align:center; text-decoration:none; text-transform:uppercase;  margin:15px 0; font-size:27px; cursor:pointer; background:rgba(255, 255, 255, 0.5); border:none;}
 
 .footer-name{color:rgba(255, 255, 255, 0.4);}
 .mid_area{margin:20px 0 0 0;}
 .edit_btn_top{ background:url(../img/top_tick_icons.png) no-repeat rgba(0, 0, 0, 0); height:30px; width:30px; margin:0; padding:0; border:none;}
 
  /* ----- css for interest page ----- */
 .interest-topbar{background:rgba(0, 0, 0, 0.3); height:60px; width:100%; position:relative;}
 .left-top-btn{ position:absolute; left:0; top:0;}
 .right-top-btn{ position:absolute; right:0; top:0;}
 .menu_btn_top{ background:url(../img/top_tick_icons.png) no-repeat 10px 8px rgba(0, 0, 0, 0); height:59px; width:59px; margin:0; padding:0; border:none;}
 .map_btn_top{ background:url(../img/top_tick_icons.png) no-repeat -39px 9px rgba(0, 0, 0, 0); height:59px; width:59px; margin:0; padding:0; border:none;}
 
 .msg_btn_top{background:url(../img/message.png) no-repeat 0px 13px rgba(0, 0, 0, 0); height:59px; width:59px; margin:0; padding:0; border:none;}
 
 .top_head_bg{width:65%; padding: 17px 0 0; margin:0 auto;}
 .top_heading{text-align:center; color:#FFF; font-family:'Open Sans', sans-serif; font-weight:normal; font-size:16px;}
 
 .interest-box{margin:80px 0 0 0; position:relative;}
 .interest-box ul{margin:0; padding:0;}
 .interest-box ul li{margin:0 0 10px 66px; padding:0; list-style:none; float:left; width:215px; height:177px; border:2px solid rgba(255, 255, 255, 0.5); cursor:pointer; position:relative;}
 .tick{position:absolute; bottom:8%; left:5%; width:27px; height:26px; overflow:hidden;}
 .unselect-tick{background:url(../img/tick-icons.png) no-repeat -59px 0; height:100%;}
 .select-tick{background:url(../img/tick-icons.png) no-repeat 0 0; height:100%;}
 
 .interest-box ul li h4{text-align:center; color:#FFF; text-transform:uppercase; font-family:'Open Sans', sans-serif; font-weight:normal; margin:15px 0;}
 
 /*--- interest icons css code ---*/
 .interest-box ul li .talent{float: right; height:85px; margin-right:25px; width:85px;}
 .interest-box ul li .talent-icon{height:100%; background:url(../img/interest-icons.png) no-repeat 0 0;}
 
 .interest-box ul li .art{float: right; height:85px; margin-right:25px; width:88px;}
 .interest-box ul li .art-icon{height:100%; background:url(../img/interest-icons.png) no-repeat -138px 0;}
 
 .interest-box ul li .nightlife{float: right; height:85px; margin-right:25px; width:85px;}
 .interest-box ul li .nightlife-icon{height:100%; background:url(../img/interest-icons.png) no-repeat 0 -110px;}
 
 .interest-box ul li .lifestyle{float: right; height:85px; margin-right:25px; width:88px;}
 .interest-box ul li .lifestyle-icon{height:100%; background:url(../img/interest-icons.png) no-repeat -140px -110px;}
 
 .interest-box ul li .resale{float: right; height:85px; margin-right:25px; width:85px;}
 .interest-box ul li .resale-icon{height:100%; background:url(../img/interest-icons.png) no-repeat 0 -225px;}
 
 .interest-box ul li .retail{float: right; height:85px; margin-right:25px; width:94px;}
 .interest-box ul li .retail-icon{height:100%; background:url(../img/interest-icons.png) no-repeat -138px -225px;}
 
 .interest-box ul li .dating{float: right; height:94px; margin-right:25px; width:85px; margin-top:-10px;}
 .interest-box ul li .dating-icon{height:100%; background:url(../img/interest-icons.png) no-repeat 0 -339px;}
 
 .interest-box ul li .sport{float: right; height:85px; margin-right:25px; width:85px;}
 .interest-box ul li .sport-icon{height:100%; background:url(../img/interest-icons.png) no-repeat -145px -339px;}
 
 .interest-box ul li .food{float: right; height:85px; margin-right:25px; width:85px;}
 .interest-box ul li .food-icon{height:100%; background:url(../img/interest-icons.png) no-repeat 0 -455px;}
 
 .interest-box ul li .entertain{float: right; height:87px; margin-right:25px; width:85px;}
 .interest-box ul li .entertain-icon{height:100%; background:url(../img/interest-icons.png) no-repeat -145px -456px;}
 /*--- interest icons css code ---*/
 
 /*--- profile edit screen ---*/
 .profile-box{margin:30px 0 0 0; position:relative;}
 .profile-box ul{margin:0; padding:0;height:243px; overflow-y:scroll}
 .profile-box ul li{margin:0 0 20px 65px; padding:0; list-style:none; float:left; width:147px; height:108px; border:3px solid #969696; cursor:pointer; position:relative; background:none;}
 .profile-box ul li h5{text-align:center; color:#353535; font-family:'Open Sans', sans-serif; font-weight:normal; margin:4px 0; font-size:14px;}
 
 .see-profile{width:36%; text-align:center; margin:10px auto 0 auto; height:70px;}
 .see-profile-icon{height:100%; background:url(../img/menu-icons.png) no-repeat -13px 0;}
 
 .edit-profile{width:44%; text-align:center; margin:10px auto 0 auto; height:70px;}
 .edit-profile-icon{height:100%; background:url(../img/menu-icons.png) no-repeat -127px 0;}
 
 .upload-img{width:55%; text-align:center; margin:10px auto 0 auto; height:70px;}
 .upload-img-icon{height:100%; background:url(../img/menu-icons.png) no-repeat 0 -142px;}
 
 .upload-vdo{width:42%; text-align:center; margin:10px auto 0 auto; height:70px;}
 .upload-vdo-icon{height:100%; background:url(../img/menu-icons.png) no-repeat -130px -146px;}
 
 .setting{width:48%; text-align:center; margin:10px auto 0 auto; height:70px;}
 .setting-icon{height:100%; background:url(../img/menu-icons.png) no-repeat -5px -288px;}
 
 .inbox{width:55%; text-align:center; margin:10px auto 0 auto; height:70px;}
 .inbox-icon{height:100%; background:url(../img/menu-icons.png) no-repeat 0px -288px;}
 
 .my-frnd{width:54%; text-align:center; margin:10px auto 0 auto; height:70px;}
 .my-frnd-icon{height:100%; background:url(../img/menu-icons.png) no-repeat -117px -425px;}
 
 .connect-frnd{width:58%; text-align:center; margin:10px auto 0 auto; height:70px;}
 .connect-frnd-icon{height:100%; background:url(../img/menu-icons.png) no-repeat 0px -426px;}
 
 .about{width:48%; text-align:center; margin:10px auto 0 auto; height:70px;}
 .about-icon{height:100%; background:url(../img/menu-icons.png) no-repeat -126px -288px;}

.user-pic {margin:10px auto;height:150px;overflow-y:hidden;}




.flex {
    background-color: #000000;
    height: 100%;
    opacity: 0.7;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 11106;
}

#loaderImage
{
position: fixed;
top: 43%;
left: 45%;
z-index: 11122;
}


.user-pic img{width:70%;}
.logout {color:#000 !important; margin:10px !important; text-align:left; background:url(../img/logout-icon.png) no-repeat; padding:6px 0 6px 35px !important;}
 /*--- profile edit screen ---*/

/*--- see profile screen ---*/
  .back_btn_top{ background:url(../img/back-btn-bg.png) no-repeat 0px 0 rgba(0, 0, 0, 0); height:39px; width:88px; margin:10px 0 0 15px; padding:0 0 0 10px; border:none; color:#FFF; font-size:16px; cursor:pointer;}
 .done_btn_top{ background:url(../img/done-btn-bg.png) no-repeat 0px 0 rgba(0, 0, 0, 0); height:39px; width:88px; margin:10px 15px 0 0; padding:0 10px 0 0; border:none; color:#FFF; font-size:16px; cursor:pointer;}
 .edit-page{overflow-y:scroll; height:418px;}
 .profile-pic{width:273px; height:273px; margin:0px auto 30px; border-radius:100%; border:4px solid #efefef; overflow:hidden; position:relative;}
 .profile-img{width:97%; height:190px; margin:0px auto 40px; border:4px solid #efefef; overflow:scroll; position:relative;}

 .user-detail{margin:0 16.41% 10px; width:430px; float:left; height:260px; overflow-y:scroll;}
 .user-detail ul{margin:0; padding:0;}
 .user-detail ul li{list-style:none; color:#490401; padding:4px 8px; margin:-5px 0 0; line-height:20px; display:inline-block; background:rgba(255, 255, 255, 0.3); text-shadow:0 1px 0 rgba(255, 255, 255, 0.3); font-weight:bold;}
 .user-detail ul li:nth-child(even){background:rgba(255, 255, 255, 0.5);}
 .user-detail ul li > .see-link{color:#FFF; width:260px; float:left;}
 .user-detail ul li > .see-link a{color:#FFF; width:100%; text-align:center;}
 .user-detail ul li > .user-head{width:100px; margin:0 10px 0 0; text-align:left;}
 .user-detail ul li > .user-name{width:320px; margin:0; text-align:left;}
 
 .edit-pro-detail{margin:0 16.41% 10px; width:430px; float:left; height:260px; overflow-y:scroll;}
 .edit-pro-detail ul{margin:0; padding:0;}
 .edit-pro-detail ul li{list-style:none; color:#fff; padding:0; margin: 0; line-height:20px; display:inline-block; }
 .edit-pro-detail ul li > .edit-link{color:#FFF; width:260px; float:left;}
 .edit-pro-detail ul li > .edit-link a{color:#FFF; width:100%; text-align:center;}
 .edit-pro-detail ul li > .edit-pro-head{width:100px; margin:0 10px 0 0; text-align:left;}
 .edit-pro-detail ul li > .edit-pro-name{width:320px; margin:0; text-align:left;}
 .edit-pro-detail ul li > .edit-pro-name input{background:none !important; border-bottom:1px solid rgba(255, 255, 255, 0.4) !important; padding:0;}
 .edit-pro-detail ul li > .edit-pro-name textarea{background:none !important; border-bottom:1px solid rgba(255, 255, 255, 0.4) !important; padding:0; width:100% !important; height:15px !important; margin:0 !important;}
 
 .image-gallery{width:100%; background:rgba(255, 255, 255, 0); float:left; padding:10px 0;}
 .image-gallery img{width:101px; height:101px; float:left; margin:0 10px 0 0; border-radius:100%; border:3px solid rgba(255, 255, 255, 1);}
 .video-gallery{width:100%; height:100px; background:rgba(255, 255, 255, 0.4); float:left; padding:10px 0; 
 overflow-x:scroll; margin:30px 0 0 0;}
 .single-video{width:101px; height:101px; float:left; margin:0 10px 0 0; background:#FFF; position:relative;}
 .video-shade{width:101px; height:101px; position:absolute; background:rgba(0, 0, 0, 0.8); top:0;}
 .video-shade img{text-align:center; margin:31% auto;}
 /*--- see profile screen ---*/
 
 /*--- connect list screen ---*/
 .connect-list-box{margin:0px 0 0 0; position:relative; height:815px; overflow-y:scroll;}
 .connect-list-box ul{margin:0; padding:0;}
 .connect-list-box ul li{margin:0 0 15px 98px; padding:0; list-style:none; float:left; width:170px; cursor:pointer; position:relative;}
 .connect-pic{width:166px; height:166px; margin:0 auto; border-radius:100%; border:3px solid #efefef; overflow:hidden;}
 .connect-list-box ul li h4{text-align:center; color:#FFF; text-transform:capitalize; font-family:'Open Sans', sans-serif; font-weight:normal; margin:10px 0 0px;}
 .connect-list-box ul li h5{text-align:center; color:#d07301; text-transform:capitalize; font-family:'Open Sans', sans-serif; font-weight:normal; margin:0;}
 
 .interest-tab {display:table; width:90%; height:50px; padding:0 0 10px; margin:10px auto 15px; border-bottom: 1px solid #dddddd; table-layout: fixed;}
.interest-tab > .single-item {display: table-cell; height: 50px; vertical-align: middle; color: #ffffff; text-align: center;font-family:'Open Sans', sans-serif; font-weight:normal; font-size:13px;}
.interest-tab .single-item.active, .interest-tab .single-item:active { color: #490401;}
.interest-tab .single-item .int-icon {width: 33px; height: 33px; margin:0 auto;}
.bar-tab .single-item .tab-text{display:block; font-size: 11px;}

.selected-icon-1{height:100%; background:url(../img/interest-icons.png) no-repeat 0 2px; width:100%; background-size:87px;}
.selected-icon-2{height:100%; background:url(../img/interest-icons.png) no-repeat -52px 0; width:100%; background-size:87px;}
.selected-icon-3{height:100%; background:url(../img/interest-icons.png) no-repeat 0 -40px; width:100%; background-size:87px;}
.selected-icon-4{height:100%; background:url(../img/interest-icons.png) no-repeat -52px -40px; width:100%; background-size:87px;}
.selected-icon-5{height:100%; background:url(../img/interest-icons.png) no-repeat 0 -81px; width:100%; background-size:87px;}
.selected-icon-6{height:100%; background:url(../img/interest-icons.png) no-repeat -53px -81px; width:100%; background-size:87px;}
.selected-icon-7{height:100%; background:url(../img/interest-icons.png) no-repeat 0 -127px; width:100%; background-size:87px;}
.selected-icon-8{height:100%; background:url(../img/interest-icons.png) no-repeat -52px -127px; width:100%; background-size:87px;}
.selected-icon-9{height:100%; background:url(../img/interest-icons.png) no-repeat 0 -171px; width:100%; background-size:87px;}
.selected-icon-10{height:100%; background:url(../img/interest-icons.png) no-repeat -52px -171px; width:100%; background-size:87px;}

.hover-icon-1{height:100%; background:url(../img/interest-icons-hover.png) no-repeat 0 2px; width:100%; background-size:87px;}
.hover-icon-2{height:100%; background:url(../img/interest-icons-hover.png) no-repeat -52px 0; width:100%; background-size:87px;}
.hover-icon-3{height:100%; background:url(../img/interest-icons-hover.png) no-repeat 0 -40px; width:100%; background-size:87px;}
.hover-icon-4{height:100%; background:url(../img/interest-icons-hover.png) no-repeat -52px -40px; width:100%; background-size:87px;}
.hover-icon-5{height:100%; background:url(../img/interest-icons-hover.png) no-repeat 0 -81px; width:100%; background-size:87px;}
.hover-icon-6{height:100%; background:url(../img/interest-icons-hover.png) no-repeat -53px -81px; width:100%; background-size:87px;}
.hover-icon-7{height:100%; background:url(../img/interest-icons-hover.png) no-repeat 0 -127px; width:100%; background-size:87px;}
.hover-icon-8{height:100%; background:url(../img/interest-icons-hover.png) no-repeat -52px -127px; width:100%; background-size:87px;}
.hover-icon-9{height:100%; background:url(../img/interest-icons-hover.png) no-repeat 0 -171px; width:100%; background-size:87px;}
.hover-icon-10{height:100%; background:url(../img/interest-icons-hover.png) no-repeat -52px -171px; width:100%; background-size:87px;} 
 /*--- connect list screen ---*/
 
 /*--- news feeds screen ---*/
.news-search{width: 90%; margin: 0px auto; background:rgba(255, 255, 255, 0.4);}
.news-search .search-input{background:none; width:89%; float:left; border-radius:0px; margin:0px; border:none; color:#fff !important;}
.news-search .search-button{background:url(../img/search-btn.png) no-repeat center rgba(0, 0, 0, 0); width:36px; float:left; border-radius:0px; margin:0px; border:none; height:35px;}

.news-list{width:90%; margin:20px auto 0; height:590px; overflow-y:scroll;}
.single-news{width:100%; height:auto; background:rgba(255, 255, 255, 0.4); margin:0 0 10px 0;}
.news-sender{margin: 0px; padding: 0px;}
.news-sender .news-pro-pc{float:left; border-radius:100%; overflow:hidden;}
.sender-name{ float:left;}
.sender-name h4{font-weight: normal; text-align: left; color: rgb(255, 255, 255); font-size: 16px; margin:0; padding:8px 10px;}
.sender-name a{ color:#490401;}
.posted-pic {height:120px; overflow:hidden;width:280px; margin:10px 4px 0;}
.single-news p{color:#FFF; padding:0 15px; text-align:justify; line-height:17px; font-size:13px;font-family:'Open Sans', sans-serif; font-weight:normal;}
.like-btn{float: left; width:auto; margin:5px 8px 5px 0; border-right:1px solid #ccc; padding:0 8px; line-height:22px; font-size:12px; font-family:'Open Sans', sans-serif; font-weight:normal; color:#490401;}
.comment-btn{float:left; width:auto; padding:0; margin:5px 8px 5px 0; line-height:22px; font-size:12px; font-family:'Open Sans', sans-serif; font-weight:normal; color:#490401;}
.dollar-sign{float: right; width:auto; margin:5px 8px 5px 0; padding:0 8px; line-height:22px; font-size:12px; font-family:'Open Sans', sans-serif; font-weight:normal; color:#490401; background:rgba(208, 115, 1, 0.5);}
.suggested-user{color:#FFF; margin: 0px auto 15px; padding: 15px 0px; width: 90%; font-size: 16px;}
.suggested-line {background:#fff; margin-top: 10px; width: 25%; height: 1px;}
    .suggested-txt {text-align: center; width: 50%;}
 /*--- news feeds screen ---*/
 
 .edit-input{background:rgba(255, 255, 255, 0.2); float: left !important; font-size: 13px !important; height: auto !important; margin:0 0 10px 0 !important; padding:5px 4px; width:86% !important; border:none; color:#FFF;}
  .edit-check{margin:0 0 10px 0 !important;}
 .change-pic{bottom: 0px; background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.6); font-size: 12px; text-align: center; margin: 0px auto; position: absolute; padding: 4px 17px 18px;}
 .upload-pic{bottom: 0px; background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.6); font-size: 12px; text-align: center; margin: 0px auto; position: absolute; padding:10px 0; width:100%;}
 
/*--- full photo screen ---*/ 
 .describe-pic{width:93%; margin:7px auto 0; height:625px; overflow:hidden;}
 .describe-pic h5{text-align:left;}
 .describe-pic p{font-size:12px; text-align:left; margin:0;}
 .pic-btns{margin:0 auto; width:100%; height:33px; position:fixed; bottom:0;}
 .like-click-btn{background:rgba(255, 255, 255, 0.5); padding:5px 0; text-align:center;width:49.7%; margin:5px 0 10px; float:left; color:#490401; font-size:13px;}
 .liked-click-btn{background:rgba(208, 115, 1, 0.5); padding:5px 0; text-align:center;width:49.7%; margin:5px 0 10px; float:left; color:#490401; font-size:13px;}
 .comment-click-btn{background:rgba(255, 255, 255, 0.5); padding:5px 0; text-align:center;width:49.7%; margin:5px 0 10px; float:right; color:#490401; font-size:13px;}
 .comment-list-area{font-size: 13px; margin: 20px auto; width: 300px; text-align: left; border-top: 1px solid rgba(255, 255, 255, 0.4); padding:0 0 6px 0px;}
 .comment-list-text{margin:5px 0 0 5px; color:#ccc;}
 .comment-list-text span{color:#fff;}
 .comment-type-box{font-size: 13px; margin: 10px auto; width: 300px; text-align: left; padding:0 0 6px 0px;}
 .comment-head{width:100px; margin:0 10px 0 0; text-align:left;}
 .comment-name{width:290px;}
 .pic-updater{background:rgba(255, 255, 255, 0.4); margin:0 10px;}
 .pic-updater img{float:left;}
 .pic-updater h4{padding:4px 6px !important;}
 .pic-btns-2{margin:0 auto; width:100%; height:33px; position:fixed; bottom:0;}
 .applause-click-btn{background:rgba(255, 255, 255, 0.5); padding:5px 0; text-align:center;width:33%; margin:5px 0 10px; float:left; color:#490401; font-size:13px;}
 .applaused-click-btn{background:rgba(208, 115, 1, 0.5); padding:5px 0; text-align:center;width:33%; margin:5px 0 10px; float:left; color:#490401; font-size:13px;}

 .talk-click-btn{background:rgba(255, 255, 255, 0.5); padding:5px 0; text-align:center;width:33%; margin:5px 0 10px 1%; float:left; color:#490401; font-size:13px;}
 .dollar-btn{background:rgba(255, 255, 255, 0.5); padding:5px 0; text-align:center;width:32%; margin:5px 0 10px; float:right; color:#490401; font-size:13px;}

.profile-status{color:rgba(255, 255, 255, 0.6); font-size:14px;}

/*--- full photo screen ---*/ 

/*--- map screen ---*/ 
.map-area{width:100%; margin:0; background:rgba(255, 255, 255, 0.4); height:230px;}
.map-btn{width:80%; margin:0 auto;}
/*--- map screen ---*/

.describe-img {height:250px; border-bottom:1px solid rgba(255, 255, 255, 0.4); margin:0 0 7px; overflow-y:scroll; width:100%;}
.describe-data{height:72px; overflow-y:scroll;}

.gallery-box{margin:0px 0 0 0; position:relative; height:750px; overflow-y:scroll;}
 .gallery-box ul{margin:0; padding:0;}
 .gallery-box ul li{margin:0 0 15px 98px; padding:0; list-style:none; float:left; width:170px; cursor:pointer; position:relative;}
 .gallery-pic{width:166px; height:166px; margin:0 auto; border:2px solid #efefef; overflow:hidden;}
 .gallery-box ul li h4{text-align:center; color:#FFF; text-transform:capitalize; font-family:'Open Sans', sans-serif; font-weight:normal; margin:10px 0 0px;}
 .gallery-box ul li h5{text-align:center; color:#d07301; text-transform:capitalize; font-family:'Open Sans', sans-serif; font-weight:normal; margin:0;}
 .load-more{position:absolute; bottom:15px; margin:0 auto; text-align:center; width:100%;}
 .load-more a{padding:7px 15px; background:rgba(255, 255, 255, 0.4); color:#fff; font-size:12px; font-weight:bold;}
 
 .view-gall{padding:0; background:rgba(255, 255, 255, 0); color:#fff; font-size:12px; font-weight:bold; margin:0; height:30px; width:33px;}
.rate-gall{margin:0 16.41% 10px; width:430px; float:left;}

.msg-count-main{margin:15px 10px !important; position:relative;}
.msg-count-main img{z-index:9;}
.msg-count{background:#490401; border-radius: 50%; margin:0px; padding: 1px 7px; color:#FFF; position:absolute; right:26px; z-index:99; top:-10px; font-size:14px; font-weight:bold;}
 
 @media only screen and (max-width: 1136px) and (max-height: 640px) and (orientation : landscape){
 body{height:100%;}
.splash-bg{width:100%; margin:auto; text-align:center; height:100%;}
   .logo {padding:14% 0 0; margin:auto;width:auto; height:auto;}
   .logo img{width:30%;}
   .logo-login{padding:5% 0 !important;}
   .signin-form{padding: 0 50px 20px;}
   .username-txt{background: url("../img/txtfield-icons.png") no-repeat 8px 18px rgba(255, 255, 255, 0.2); height: 70px; margin: 40px 0 0; background-size:35px;}
   .user-input{height:65px !important;}
   .pswd-txt{background: url("../img/txtfield-icons.png") no-repeat 8px -102px rgba(255, 255, 255, 0.2); height: 70px; margin: 40px 0 0; background-size:35px;}
   .user-password{height:65px !important; }
   .login-btn{margin: 40px 0 0; padding: 12px 100px;}
   .overflow-div {overflow-y:scroll !important;height:640px !important;}
   .interest-box{margin:30px 0 0 0;}
 .interest-box ul li{margin:0 0 20px 50px; height:150px;}
 .connect-list-box{margin:0px 0 0 0; position:relative; height:490px; overflow-y:scroll;}
 .news-list{width:80%; margin:20px auto; height:300px; overflow-y:scroll;}
 .gallery-box{margin:0px 0 0 0; position:relative; height:435px; overflow-y:scroll;}
  } 
  @media only screen and (max-width: 640px) and (max-height: 1136px) and (orientation : portrait) { 
.splash-bg{width:100%; margin:auto; text-align:center; height:1136px;}
   .logo {padding:67% 0 0; margin:auto; width:auto; height:auto;}
   .logo img{width:45%;}
 .signup-btn{padding:12px 40px;}
 .overflow-div {overflow-y:scroll !important;height:1136px !important;}
 
 .logo-login{padding:13% 0 !important; margin:auto; width:auto; height:auto;}
   .logo-login img{width:26%;}
   .signin-form{width:65%; margin:0 auto; padding:20px 50px;}
   
   .username-txt{width:100%; height:50px; background:url(../img/txtfield-icons.png) no-repeat 8px 8px rgba(255, 255, 255, 0.2); margin:30px 0 0;}
   .user-input{background:none !important;border:none !important;color: #fff !important;float: left !important;font-size: 20px !important;height:45px !important;margin: 2px 0 0 45px !important;width: 89% !important; font-family:'Open Sans', sans-serif !important; font-weight:normal !important;}
   
   .pswd-txt{width:100%; height:50px; background:url(../img/txtfield-icons.png) no-repeat 8px -88px rgba(255, 255, 255, 0.2); margin:30px 0 0;}
   .user-password{background:none !important;border:none !important;color: #fff !important;float: left !important;font-size: 20px !important;height:45px !important;margin: 2px 0 0 45px !important;width: 89% !important; font-family:'Open Sans', sans-serif !important; font-weight:normal !important;}
   
   input[placeholder], [placeholder], *[placeholder] {
    color:#fff;
}
.login-btn{
border-radius:7px; -moz-border-radius:7px; -ms-border-radius:7px; -o-border-radius:7px; -webkit-border-radius:7px;
padding:12px 35px; color:#fff; text-align:center; text-transform:uppercase;  margin:30px 0 0 0; font-size:27px; cursor:pointer; background:rgba(73, 4, 1, 0.4);}

 .or{margin:25px 0; font-size:27px; text-shadow:1px 1px 2px rgba(0, 0, 0, 0.5);}
 .facebook{font-size: 24px; line-height: 43px;   margin: 0 auto;  width: 45%;}
 .need-acnt{padding:12px 0; color:#490401; text-align:center; text-decoration:none; text-transform:uppercase;  margin:30px 0 0; font-size:24px; cursor:pointer; background:rgba(255, 255, 255, 0.5);}
 
 .signup-form{width:65%; margin:0 auto; padding:20px 50px 50px;}
 .signup-first-txt{width:100% ; height:50px; background:url(../img/txtfield-icons.png) no-repeat 8px 8px rgba(255, 255, 255, 0.2); margin:30px 0 0;}
 .signup-first-input{font-size: 20px  !important;height:45px !important;margin: 3px 0 0 42px !important;width: 90%  !important; }
 
 .signup-last-txt{width:100% ; height:50px; background:url(../img/txtfield-icons.png) no-repeat 8px 8px rgba(255, 255, 255, 0.2); margin:30px 0 0;}
 
 .signup-email-txt{width:100% ; height:50px; background:url(../img/txtfield-icons.png) no-repeat 8px -40px rgba(255, 255, 255, 0.2); margin:30px 0 0;}
 
 .signup-pswd-txt{width:100%; height:50px; background:url(../img/txtfield-icons.png) no-repeat 8px -88px rgba(255, 255, 255, 0.2); margin:30px 0 0;}
 .signup-pswd-txtPassword{width:100%; height:50px; background:url(../img/txtfield-icons.png) no-repeat 8px -88px rgba(255, 255, 255, 0.2); margin:30px 0 0;}
   
 .signup-txt{width:100%; height:50px; background:rgba(255, 255, 255, 0.2); margin:30px 0 0;}
 .signup-txt-input{background:none !important;border:none !important;color: #fff !important;float: left !important;font-size: 20px !important;height:45px !important;margin: 2px 0 0 20px !important;width:97% !important; font-family:'Open Sans', sans-serif !important; font-weight:normal !important;}
 
 .interest-box{margin:80px 0 0 0;}
 .interest-box ul li{margin:0 0 10px 66px; height:177px;}
 .connect-list-box{margin:0px 0 0 0; position:relative; height:985px; overflow-y:scroll;}
 .news-list{width:90%; margin:20px auto; height:780px; overflow-y:scroll;}
  }
  
  
 @media only screen and (max-width: 960px) and (max-height: 640px) and (orientation : landscape){
      body{height:100%;}
.splash-bg{width:100%; margin:auto; text-align:center; height:100%;}
   .logo {padding:19% 0 0; margin:auto;width:auto; height:auto;}
   .logo img{width:30%;}
   .signin-form{padding:0 50px 50px;}
   .overflow-div {overflow-y:scroll !important;height:640px !important;}
     
   .interest-box{margin:30px 0 0 0;}
 .interest-box ul li{margin:0 0 10px 70px; height:150px;}
 .connect-list-box{margin:0px 0 0 0; position:relative; height:490px; overflow-y:scroll;}
 .news-list{width:80%; margin:20px auto; height:300px; overflow-y:scroll;}
 .gallery-box{margin:0px 0 0 0; position:relative; height:435px; overflow-y:scroll;}
 
  } 
  @media only screen and (max-width: 640px) and (max-height: 960px) and (orientation : portrait) { 
.splash-bg{width:100%; margin:auto; text-align:center; height:100%;}
   .logo {padding:55% 0 0 !important; margin:auto; width:auto; height:auto;}
   .logo img{width:45% !important;}
   .logo-login{padding:24% 0 0 !important; margin:auto; width:auto; height:auto;}
   .overflow-div {overflow-y:scroll !important;height:960px !important;}
    .interest-box{margin:30px 0 0 0;}
 .interest-box ul li{margin:0 0 10px 70px; height:150px;}
 .connect-list-box{margin:0px 0 0 0; position:relative; height:810px; overflow-y:scroll;}
 body{height:100%;}
 .describe-pic{width:93%; margin:7px auto 0; height:455px; overflow:hidden;}
  }

  @media only screen and (max-width: 480px) and (max-height: 320px) and (orientation : landscape) {
      body{height:100%;}
   .splash-bg{width:100%; margin:auto; text-align:center; height:100%;}
   .logo {padding:19% 0 0; margin:auto;width:auto; height:auto;}
   .logo img{width:30%;}
   .logo-login{padding:8% 0 6.7% !important; margin:auto; width:auto; height:auto;}
   .logo-login img{width:25%;}
   .signin-form{width:75%; padding:0 0 20px;}
   .username-txt{background-size:6%; height:40px; margin:0; background-position:8px 8px;}
   .user-input{width:89% !important; height:35px !important; margin:2px 0 0 38px !important; font-size:14px !important;}
   .pswd-txt{background-size:6%; height:40px; margin:20px 0 0; background-position:8px -64px;}
   .user-password{width:89% !important; height:35px !important; margin:2px 0 0 38px !important; font-size:14px !important;}
   .login-btn{font-size:16px; padding:10px 55px; margin:20px 0 0;}
   .or{margin:5px 0; font-size:18px;}
 .facebook{font-size: 18px; line-height: 43px;   margin: 0 auto;  width:50%;}
 .need-acnt{padding:8px 0; margin:30px 0 0; font-size:16px;}
 .signup-form{width:75%; margin:0 auto; padding:20px 0;}
 
 .signup-first-input{float: left !important;font-size:14px !important;height:auto !important;margin:0 0 0 30px !important;width: 87% !important; padding:7px 0;}
 .signup-first-txt{height:35px; background-size:20px; background-position:5px 6px; margin:15px 0 0 0;}
 .signup-last-txt{height:35px; background-size:20px; background-position:5px 6px; margin:15px 0 0 0;}
 .signup-email-txt{height:35px; background-size:20px; background-position:5px -27px; margin:15px 0 0 0;}
 .signup-pswd-txt{height:35px; background-size:20px; background-position:5px -60px; margin:15px 0 0 0;}
 .fb-name{font-size:14px; margin: 3px 0 0 30px !important;width: 87%  !important; padding:8px 0 0 0; text-align:left;}
 
 .signup-first-txt-input{float: left !important;font-size:14px !important;height:35px !important;margin: 2px 0 0 23px !important;width: 97% !important;}
 .signup-txt{width:100%; height:40px; margin:15px 0 0;}
 .signup-txt-input{float: left !important;font-size:14px !important;height:35px !important;margin: 2px 0 0 20px !important;width:97% !important;}
 .signup-btn{padding:8px 20px; margin:15px 0 0 0; font-size:13px;}
 .overflow-div {overflow-y:scroll !important;height:320px !important;}
 
 .mid_area{margin:20px 0 0 0;}
 .edit_btn_top{height:30px; width:30px; margin:0;background-size:55px;}
 .menu_btn_top{margin:0; background-size:55px;background-position:11px 12px; width:49px; height:49px;}
 .map_btn_top{ background-position:-25px 12px;margin:0; background-size:55px; width:49px; height:49px;}
 .top_head_bg{width:68.7%;}
 .interest-topbar{ height:50px;}
 .interest-box{margin:30px 0 0 0;}
 .interest-box ul li{margin:0 0 10px 55px; width:150px; height:90px;}
 .interest-box ul li h4{margin:3px 0; font-size:15px;}
 .tick{position:absolute; bottom:8%; left:5%; width:20px; height:20px; overflow:hidden;}
 .unselect-tick{background:url(../img/tick-icons.png) no-repeat -40px 0; height:100%; background-size:60px;}
 .select-tick{background:url(../img/tick-icons.png) no-repeat 1px 0; height:100%; background-size:60px;}
 
  /*--- interest icons css code ---*/
 .interest-box ul li .talent{height:50px; margin-right:15px; width:50px;}
 .interest-box ul li .talent-icon{ background-size:140px; background-position:0px 0px;}
 
 .interest-box ul li .art{height:50px; margin-right:15px; width:50px;}
 .interest-box ul li .art-icon{background-size:133px; background-position:-79px 0;}
 
 .interest-box ul li .nightlife{height:50px; margin-right:15px; width:50px;}
 .interest-box ul li .nightlife-icon{background-size:133px; background-position:0 -60px;}
 
 .interest-box ul li .lifestyle{height:50px; margin-right:15px; width:52px;}
 .interest-box ul li .lifestyle-icon{background-size:133px; background-position:-80px -62px;}
 
 .interest-box ul li .resale{height:50px; margin-right:15px; width:52px;}
 .interest-box ul li .resale-icon{background-size:136px; background-position:0 -128px;}
 
 .interest-box ul li .retail{height:50px; margin-right:15px; width:56px;}
 .interest-box ul li .retail-icon{background-size:135px; background-position:-80px -130px;}
 
 .interest-box ul li .dating{height:67px; margin-right:15px; width:52px;}
 .interest-box ul li .dating-icon{background-size:136px; background-position:0 -188px;}
 
 .interest-box ul li .sport{height:50px; margin-right:15px; width:56px;}
 .interest-box ul li .sport-icon{background-size:135px; background-position:-80px -197px;}
 
 .interest-box ul li .food{height:55px; margin-right:15px; width:52px;}
 .interest-box ul li .food-icon{background-size:136px; background-position:0 -266px;}
 
 .interest-box ul li .entertain{height:52px; margin-right:15px; width:56px;}
 .interest-box ul li .entertain-icon{background-size:135px; background-position:-80px -265px;}
 /*--- interest icons css code ---*/

 /*--- profile edit screen ---*/
 .profile-box{margin:30px 0 0 0; position:relative; width:80%;}
 .profile-box ul{margin:0; padding:0;}
 .profile-box ul li{margin:0 0 20px 70px; width:100px; height:65px; border:2px solid #c2c2c2;}
 .profile-box ul li h5{margin:4px 0; font-size:9px;}
 
 .see-profile{width:40%; margin:7px auto 0 auto; height:30px;}
 .see-profile-icon{background-position:0px 0;background-size:80px;}
 
 .edit-profile{width:40%; margin:7px auto 0 auto; height:30px;}
 .edit-profile-icon{background-position:-50px 0;background-size:80px;}
 
 .upload-img{width:42%; margin:7px auto 0 auto; height:30px;}
 .upload-img-icon{background-position:0 -57px;background-size:80px;}
 
 .upload-vdo{width:40%; margin:7px auto 0 auto; height:30px;}
 .upload-vdo-icon{background-position:-50px -58px;background-size:80px;}
 
 .setting{width:40%; margin:7px auto 0 auto; height:30px;}
 .setting-icon{background-position:0 -118px;background-size:80px;}
 
 .about{width:40%; margin:7px auto 0 auto; height:30px;}
 .about-icon{background-position:-50px -117px;background-size:80px;}

.user-pic {margin:10px 0 10px 20%; width:60%;}
.user-pic img{width:80%;}
.logout {background-size:23px; padding:2px 0 2px 30px !important; margin:15px 10px !important;}
 /*--- profile edit screen ---*/

 /*--- see profile screen ---*/
 .back_btn_top{ background-position:0px 0; background-size:65px; height:30px; width:65px; margin:16px 0 0 10px; padding:0 0 0 10px; font-size:13px;}
 .done_btn_top{ background-position:0px 0; background-size:65px; height:30px; width:65px; margin:16px 10px 0 0; padding:0 10px 0 0; font-size:13px;}
 .user-detail{margin:0 auto; width:430px;}
 .user-detail ul li > .user-head{width:100px; margin:0 10px 0 0; text-align:left;}
 .user-detail ul li > .user-name{width:320px; margin:0; text-align:left;}
 
 .edit-pro-detail{margin:0 auto; width:430px;}
 .edit-pro-detail ul li > .edit-pro-head{width:100px; margin:0 10px 0 0; text-align:left;}
 .edit-pro-detail ul li > .edit-pro-name{width:320px; margin:0; text-align:left;}
 /*--- see profile screen ---*/
 
 .interest-tab { width:98%;}
 .tab-text{display:block; font-size:8px;font-family: "Helvetica Neue",Helvetica,sans-serif;}
 .interest-tab .single-item .int-icon{width:28px; height:26px; margin:0 auto;}
 
 .selected-icon-1{background-position:1px 2px; background-size:70px;}
.selected-icon-2{background-position:-41px 1px; background-size:70px;}
.selected-icon-3{background-position:1px -32px; background-size:70px;}
.selected-icon-4{background-position:-42px -33px; background-size:70px;}
.selected-icon-5{background-position:2px -67px; background-size:70px;}
.selected-icon-6{background-position:-42px -68px; background-size:70px;}
.selected-icon-7{background-position:1px -102px; background-size:70px;}
.selected-icon-8{background-position:-41px -104px; background-size:70px;}
.selected-icon-9{background-position:0 -138px; background-size:70px;}
.selected-icon-10{background-position:-43px -138px; background-size:70px;}

.hover-icon-1{background-position:1px 2px; background-size:70px;}
.hover-icon-2{background-position:-41px 1px; background-size:70px;}
.hover-icon-3{background-position:1px -32px; background-size:70px;}
.hover-icon-4{background-position:-42px -33px; background-size:70px;}
.hover-icon-5{background-position:2px -67px; background-size:70px;}
.hover-icon-6{background-position:-42px -68px; background-size:70px;}
.hover-icon-7{background-position:1px -102px; background-size:70px;}
.hover-icon-8{background-position:-41px -104px; background-size:70px;}
.hover-icon-9{background-position:0 -138px; background-size:70px;}
.hover-icon-10{background-position:-43px -138px; background-size:70px;}

.connect-list-box{height:180px; overflow-y:scroll;}
 .connect-list-box ul li{margin:0 0 15px 33px; width:115px;}
 .connect-pic{width:115px; height:115px; border:2px solid #efefef;}
 .connect-pic img{width:100%;}
 .connect-list-box ul li h4{font-size:14px;}
 .connect-list-box ul li h5{font-size:12px;}
 
 .news-search .search-input{width:78%;}
 .news-list{height:200px;}
 .posted-pic img{}
 .sender-name h4{padding:6px; font-size:12px;}
 .news-sender .news-pro-pc{width:47px; height:47px; border-radius:100%;}
 .single-news p{line-height:15px; font-size:12px;}
.suggested-user{font-size:14px; margin:0 auto 8px; padding:8px 0;}
 .posted-pic {width:384px;}
 
 .gallery-box{margin:0px 0 0 0; position:relative; height:140px; overflow-y:scroll;}
.gallery-box ul li{margin:0 0 15px 30px; padding:0; list-style:none; float:left; width:115px; cursor:pointer; position:relative;}
.gallery-pic{width:115px; height:90px; margin:0 auto; border:1px solid #efefef; overflow:hidden;}
.gallery-pic img{width:100%;}
  }

  @media only screen and (max-width: 320px) and (max-height: 480px) and (orientation : portrait){
   .splash-bg{width:100%; margin:auto; text-align:center; height:100%;}
   .logo {padding:50% 0 0; margin:auto;width:auto; height:auto;}
   .logo img{width:30%;}
   .logo-login{padding:8% 0 6.7% !important; margin:auto; width:auto; height:auto;}
   .logo-login img{width:30%;}
   .signin-form{width:75%; padding:0 0 20px;}
   .username-txt{background-size:9%; height:40px; margin:0;}
   .user-input{width:84% !important; height:35px !important; margin:2px 0 0 38px !important; font-size:14px !important;}
   .pswd-txt{background-size:9%; height:40px; margin:20px 0 0; background-position:8px -65px;}
   .user-password{width:84% !important; height:35px !important; margin:2px 0 0 38px !important; font-size:14px !important;}
   .login-btn{font-size:14px; padding:8px 25px; margin:20px 0 0;}
   .or{margin:5px 0; font-size:16px;}
 .facebook{font-size: 16px; line-height:33px;   margin: 0 auto;  width: 70%;}
 .facebook img{ width:33px;}
 .need-acnt{padding:8px 0; margin:20px 0 0; font-size:14px;}
 .need-acntLoad{ width: 100%;}
 .need-acntLoad input{padding:3px 0; margin:11px 0 0; font-size:11px !important; width:100%; border:none; background:#fff !important; text-align:center;}
 .signup-form{width:75%; margin:0 auto; padding:0;}
 
 .signup-first-input{float: left !important;font-size:14px !important;height:auto !important;margin:0 0 0 30px !important;width: 87% !important; padding:7px 0;}
 .signup-first-txt{height:35px; background-size:20px; background-position:5px 6px; margin:15px 0 0 0;}
 .signup-last-txt{height:35px; background-size:20px; background-position:5px 6px; margin:15px 0 0 0;}
 .signup-email-txt{height:35px; background-size:20px; background-position:5px -27px; margin:15px 0 0 0;}
 .signup-pswd-txt{height:35px; background-size:20px; background-position:5px -60px; margin:15px 0 0 0;}
 .fb-name{font-size:14px !important; margin: 3px 0 0 30px !important;width: 87%  !important; padding:8px 0 0 0; text-align:left;}
 
 .signup-first-txt-input{float: left !important;font-size:14px !important; height:35px !important;margin: 2px 0 0 23px !important;width: 97% !important;}
 .signup-txt{width:100%; height:40px; margin:15px 0 0;}
 .signup-txt-input{float: left !important;font-size:14px !important;height:35px !important;margin: 2px 0 0 20px !important;width:97% !important;}
 .signup-btn{padding:8px 20px; margin:15px 0 0 0; font-size:13px;}
 .overflow-div {overflow-y:scroll !important;height:480px !important;}
 .mid_area{margin:12px 0 0 0;}
 .edit_btn_top{height:30px; width:30px; margin:0;background-size:55px;}
 .menu_btn_top{margin:0; background-size:55px; background-position:11px 12px; width:49px; height:49px;}
 .map_btn_top{ background-position:-25px 12px;margin:0; background-size:55px; width:49px; height:49px;}
 .msg_btn_top{ background-position:0px 12px;margin:0; background-size:29px; width:49px; height:49px;}
 .top_head_bg{width:100%;  padding: 10px 0 0; margin:0 auto;}
 .top_heading{font-size:14px;}
 .interest-topbar{ height:50px;}
 .interest-box{margin:0;}
 .interest-box ul li{margin:0 0 10px 44px; width:90px; height:63px;}
 .interest-box ul li h4{margin:3px 0; font-size:10px;}
 .tick{position:absolute; bottom:8%; left:5%; width:19px; height:18px; overflow:hidden;}
 .unselect-tick{background:url(../img/tick-icons.png) no-repeat -33px 0; height:100%; background-size:50px;}
 .select-tick{background:url(../img/tick-icons.png) no-repeat 1px 0; height:100%; background-size:50px;}
 
  /*--- interest icons css code ---*/
 .interest-box ul li .talent{height:38px; margin-right:10px; width:45px;}
 .interest-box ul li .talent-icon{ background-size:105px; background-position:0px 0px;}
 
 .interest-box ul li .art{height:38px; margin-right:10px; width:45px;}
 .interest-box ul li .art-icon{background-size:105px; background-position:-60px 0;}
 
 .interest-box ul li .nightlife{height:38px; margin-right:10px; width:45px;}
 .interest-box ul li .nightlife-icon{background-size:105px; background-position:0 -50px;}
 
 .interest-box ul li .lifestyle{height:38px; margin-right:10px; width:45px;}
 .interest-box ul li .lifestyle-icon{background-size:105px; background-position:-62px -50px;}
 
 .interest-box ul li .resale{height:38px; margin-right:10px; width:45px;}
 .interest-box ul li .resale-icon{background-size:105px; background-position:4px -101px;}
 
 .interest-box ul li .retail{height:38px; margin-right:10px; width:45px;}
 .interest-box ul li .retail-icon{background-size:105px; background-position:-62px -103px;}
 
 .interest-box ul li .dating{height:51px; margin-right:10px; width:45px;}
 .interest-box ul li .dating-icon{background-size:105px; background-position:6px -145px;}
 
 .interest-box ul li .sport{height:38px; margin-right:10px; width:45px;}
 .interest-box ul li .sport-icon{background-size:103px; background-position:-60px -152px;}
 
 .interest-box ul li .food{height:38px; margin-right:10px; width:45px;}
 .interest-box ul li .food-icon{background-size:105px; background-position:0 -206px;}
 
 .interest-box ul li .entertain{height:38px; margin-right:10px; width:45px;}
 .interest-box ul li .entertain-icon{background-size:105px; background-position:-63px -206px;}
 /*--- interest icons css code ---*/
 
 /*--- profile edit screen ---*/
 .profile-box{margin:30px 0 0 0; position:relative; width:100%;}
 .profile-box ul{margin:0; padding:0;}
 .profile-box ul li{margin:0 0 20px 40px; width:77px; height:57px; border:2px solid #c2c2c2;}
 .profile-box ul li h5{margin:4px 0; font-size:9px;}
 
 .see-profile{width:40%; margin:7px auto 0 auto; height:30px;}
 .see-profile-icon{background-position:0px 0;background-size:80px;}
 
 .edit-profile{width:40%; margin:7px auto 0 auto; height:30px;}
 .edit-profile-icon{background-position:-50px 0;background-size:80px;}
 
 .upload-img{width:46%; margin:7px auto 0 auto; height:30px;}
 .upload-img-icon{background-position:0 -57px;background-size:80px;}
 
 .upload-vdo{width:40%; margin:7px auto 0 auto; height:30px;}
 .upload-vdo-icon{background-position:-50px -58px;background-size:80px;}
 
 .setting{width:40%; margin:7px auto 0 auto; height:30px;}
 .setting-icon{background-position:0 -118px;background-size:80px;}
 
 .inbox{width:40%; margin:7px auto 0 auto; height:30px;}
 .inbox-icon{background-position:0 -103px;background-size:70px;}
 
 .connect-frnd{width:47%; margin:7px auto 0 auto; height:30px;}
 .connect-frnd-icon{background-position:0 -177px;background-size:80px;}
 
 .my-frnd{width:46%; margin:7px auto 0 auto; height:30px;}
 .my-frnd-icon{background-position:-48px -178px;background-size:80px;}
 
 .about{width:40%; margin:7px auto 0 auto; height:30px;}
 .about-icon{background-position:-50px -117px;background-size:80px;}

.user-pic {margin:10px auto;}

.user-pic img{width:60%;}
.logout {background-size:23px; padding:2px 0 2px 30px !important; margin:15px 10px !important;}
 /*--- profile edit screen ---*/

 /*--- see profile screen ---*/
.back_btn_top{ background-position:0px 11px; background-size:65px; height:49px; width:65px; margin:0px 0 0 8px; padding:0 0 0 10px; font-size:13px;}
.done_btn_top{ background-position:0px 11px; background-size:65px; height:49px; width:65px; margin:0 8px 0 0; padding:0 10px 0 0; font-size:13px;}
.profile-pic{width:125px; height:125px; margin:0px auto 10px; border-radius:100%; border:2px solid #efefef; overflow:hidden;}
.profile-pic img{width:102%;}
.profile-img{width:97%; height:160px; margin:0px auto 12px; border:4px solid #efefef; overflow:scroll;}
.profile-img img{width:100%;}

.user-detail{margin:6px 7% 11px; width:276px; float:left; font-size:13px; overflow-y:scroll; height:210px; padding:8px 0;}
 .user-detail ul{margin:0; padding:0;}
 .user-detail ul li{padding:4px 8px; margin:-5px 0 0; line-height:20px; display:inline-block; }
 .user-detail ul li:nth-child(even){padding:4px 8px; margin:-5px 0 0; line-height:20px; display:inline-block;}
 .user-detail ul li > .see-link{color:#FFF; width:260px; float:left;}
 .user-detail ul li > .see-link a{color:#FFF; width:100%; text-align:center;}
 .user-detail ul li > .user-head{width:65px; margin:0 10px 0 0; text-align:left;}
 .user-detail ul li > .user-name{width:185px; margin:0; text-align:left;}
 
 .edit-pro-detail{margin:0px 7% 11px; width:276px; float:left; font-size:13px; overflow-y:scroll; height:211px; padding:8px 0;}
 .edit-pro-detail ul{margin:0; padding:0;}
 .edit-pro-detail ul li{padding:4px 8px; margin:-5px 0 0; line-height:20px; display:inline-block; }
 .edit-pro-detail ul li > .edit-link{color:#FFF; width:260px; float:left;}
 .edit-pro-detail ul li > .edit-link a{color:#FFF; width:100%; text-align:center;}
 .edit-pro-detail ul li > .edit-pro-head{width:75px; margin:0 10px 0 0; text-align:left;}
 .edit-pro-detail ul li > .edit-pro-name{width:175px; margin:0; text-align:left;} 
 .edit-pro-detail ul li > .edit-pro-name input{width:100% !important; margin:0 !important; text-align:left;}
 .edit-pro-detail ul li > .edit-status-name{width:185px; margin:4px 16px 0 0; text-align:left;} 
 .edit-pro-detail ul li > .edit-status-name input{width:100% !important; margin:0 !important; text-align:left;}
 
 .image-gallery{width:100%; float:left; padding:3px 0; overflow-x:scroll;}
 .image-gallery img{width:auto; height:57px; float:left; margin:0 0 0 18px;}
 .video-gallery{width:100%; height:65px; background:rgba(255, 255, 255, 0.4); float:left; padding:8px 0; 
 overflow-x:scroll; margin:15px 0;}
 .video-gallery img{width:auto; height:65px; float:left; margin:0 10px 0 0;}
 .single-video{width:65px; height:65px; float:left; margin:0 10px 0 0; background:#FFF; position:relative;}
 .video-shade{width:65px; height:65px; position:absolute; background:rgba(0, 0, 0, 0.8); top:0;}
 .video-shade img{text-align:center; margin:25% auto; height:30px; float:none;}
 /*--- see profile screen ---*/
 
 .interest-tab { width:98%;}
 .tab-text{display:block; font-size:8px;font-family: "Helvetica Neue",Helvetica,sans-serif;}
 .interest-tab .single-item .int-icon{width:28px; height:26px; margin:0 auto;}
 
 .selected-icon-1{background-position:1px 2px; background-size:70px;}
.selected-icon-2{background-position:-41px 1px; background-size:70px;}
.selected-icon-3{background-position:1px -32px; background-size:70px;}
.selected-icon-4{background-position:-42px -33px; background-size:70px;}
.selected-icon-5{background-position:2px -67px; background-size:70px;}
.selected-icon-6{background-position:-42px -68px; background-size:70px;}
.selected-icon-7{background-position:1px -102px; background-size:70px;}
.selected-icon-8{background-position:-41px -104px; background-size:70px;}
.selected-icon-9{background-position:0 -138px; background-size:70px;}
.selected-icon-10{background-position:-43px -138px; background-size:70px;}

.hover-icon-1{background-position:1px 2px; background-size:70px;}
.hover-icon-2{background-position:-41px 1px; background-size:70px;}
.hover-icon-3{background-position:1px -32px; background-size:70px;}
.hover-icon-4{background-position:-42px -33px; background-size:70px;}
.hover-icon-5{background-position:2px -67px; background-size:70px;}
.hover-icon-6{background-position:-42px -68px; background-size:70px;}
.hover-icon-7{background-position:1px -102px; background-size:70px;}
.hover-icon-8{background-position:-41px -104px; background-size:70px;}
.hover-icon-9{background-position:0 -138px; background-size:70px;}
.hover-icon-10{background-position:-43px -138px; background-size:70px;}

.connect-list-box{height:410px; overflow-y:scroll;}
 .connect-list-box ul li{margin:0 0 15px 30px; width:115px;}
 .connect-pic{width:115px; height:115px; border:2px solid #efefef;}
 .connect-pic img{width:100%;}
 .connect-list-box ul li h4{font-size:14px;}
 .connect-list-box ul li h5{font-size:12px;}
 .news-search{width:90%;}
 .news-search .search-input{width:80%; height:27px; font-size:14px;}
    .news-search .search-button {height:27px; background-size:21px;}
 .news-list{height:282px; margin:9px auto 0; width:90%;}
 .posted-pic img{}
 .sender-name h4{padding:6px; font-size:12px;}
 .news-pro-pc{width:47px; height:47px;}
 .news-pro-pc img{height:100%;}
 .single-news p{line-height:15px; font-size:12px;}
 .suggested-user{font-size:14px; margin:0 auto; padding:4px 0; width:90%;}
 .suggested-line {background:#fff; margin-top: 10px; width: 25%; height: 1px;}
 .suggested-txt {text-align: center; width: 50%; font-size:13px;}
 .describe-pic{margin:7px 10px 0; height:315px; overflow:hidden;}
    .pic-updater {}

	
	.connect-btn{border-radius:5px; -moz-border-radius:5px; -ms-border-radius:5px; -o-border-radius:7px; -webkit-border-radius:5px; padding:6px 22px; color:#490401; text-align:center; text-decoration:none; text-transform:uppercase;  margin:0 0 13px; font-size:15px; cursor:pointer; background:rgba(255, 255, 255, 0.5); border:none;}

.gallery-box{margin:0px 0 0 0; position:relative; height:300px; overflow-y:scroll;}
.gallery-box ul li{margin:0 0 15px 30px; padding:0; list-style:none; float:left; width:115px; cursor:pointer; position:relative;}
.gallery-pic{width:115px; height:90px; margin:0 auto; border:1px solid #efefef; overflow:hidden;}
.gallery-pic img{width:100%;}
.rate-gall{margin:0 7% 0; width:276px; float:left; font-size:13px; padding:0 0;}
  }
  
  /* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape)
{

}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait)
{

}